/********************Admin ********************/

.flex-container {
  display: flex;
  padding: 3%;
  justify-content: space-around;
}

.flex-items {
  width: 40%;
  /* position: relative;
  left: 7%; */
}

.flex-items.secondary {
  position: relative;
  left: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.flex-items.btn-style-1 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(65, 16, 73);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.flex-items.btn-style-2 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(214, 36, 241);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
/************ Add Product *****************/
form#form-id {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 6%;
}

input#name {
  height: 2rem;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(65, 16, 73);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
button.favorite.styled {
  margin-top: 4%;
}
.styled:hover {
  background-color: rgb(91, 37, 143);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
}

/**************Display ************/
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

.product-card {
  position: relative;
  margin: 3%;
  left: 8%;
  background-color: rgb(128, 0, 117);
  border: solid 2px #fff;
  padding: 3%;
  box-shadow: 120px 80px 40px 20px rgb(35, 21, 39);
}
